extends layout

block content
    .container-fluid.secondary-backgroundcolor.flex-grow-1.text-center
        .row(style="height:100%;")
            .col-sm-auto.align-items-center.g-4.vertical-center
                .row.ml-2.mb-3
                    .col-auto 
                        input(type='checkbox', checked=true, id='nurZuZiehendeKunden', name='nurZuZiehendeKunden')
                    .col 
                        label(for='nurZuZiehendeKunden' style='padding-left: 10px; padding-bottom: 0px') Ziehende Proben
                .row.ml-2 
                    table.table.table-bordered
                        thead
                            tr.primary-backgroundcolor
                                th.secondary-color.primary-backgroundcolor Stichtag
                        tbody
                            tr.table-light
                                td 
                                    .form-check
                                        input.form-check-input(type='radio', name='winterung', id='filterWinterung' , checked)
                                        label.form-check-label(for='winterung2') Winterung
                            tr.table-light
                                td 
                                    .form-check
                                        input.form-check-input(type='radio', name='winterung' , id='filterFSommerung', unchecked)
                                        label.form-check-label(for='winterung2') Frühe Sommerung
                            tr.table-light
                                td 
                                    .form-check
                                        input.form-check-input(type='radio', name='winterung', id='filterSSommerung', unchecked)
                                        label.form-check-label(for='winterung2') Späte Sommerung
                .row.ml-2 
                    table.table.table-bordered
                        thead
                            tr
                                th.secondary-color.primary-backgroundcolor(colspan="2", scope="col") Filter
                        tbody
                            tr.table-light
                                td  <sup>N</sup><sub>min</sub>
                                td
                                    input(type='checkbox', name='filterNmin', value='1', checked) 
                            tr.table-light
                                td  <sup>S</sup><sub>min</sub>
                                td
                                    input(type='checkbox', name='filterSmin', value='2', checked disabled) 
                            tr.table-light
                                td Humus
                                td
                                    input(type='checkbox', name='filterHumus', value='3', checked disabled) 
                            tr.table-light
                                td C/N
                                td       
                                    input(type='checkbox', name='filterCN', value='4', checked disabled)
            .col.flex.align-items-center
                .container-fluid.vertical-center
                    div#map(style='width: 100%; height: 95%;')


    #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content.neutral-backgroundcolor
                .modal-header
                    h5#exampleModalLongTitle.modal-title.text-white Flächeninformationen
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .row
                        .col-md-6 Kundennummer: 
                        .col-md-6
                            a.nav-linkTableA#kundenNr(style='color:#58634C; cursor: pointer;', onClick="kundenAnsehen(document.getElementById('kundenNr').textContent)")
                    .row
                        .col-md-6 Probennummer: 
                        .col-md-6
                            span#probenNr
                    .row
                        .col-md-6 Beproben ab: 
                        .col-md-6
                            span#beprobenAb
                    .row
                        .col-md-6 Nutzung: 
                        .col-md-6
                            span#nutzung
                    .row
                        .col-md-6 Schlagname: 
                        .col-md-6
                            span#schlagBz
                    .row
                        .col-md-6 Probenart 
                        .col-md-6
                            span#nminGzogen
                            span#sminGzogen
                            span#humusGzogen
                            span#cnGzogen
                    .row
                        .col-md-6 Flächengröße 
                        .col-md-6
                            span#fleachenGroesse h                                  

                                 

                .modal-footer
                    button.btn.btn-primary(type='button', style='margin-top: 5px', id='kmlbutton', onClick="kmlerstellen()", class='btn btn-primary button float-right bestellbutton') KML erstellen

    #ModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content.neutral-backgroundcolor
                .modal-header
                    h5#exampleModalLongTitle.modal-title.text-white Flächeninformationen
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                // Modal-Body
                .modal-body
                    button.btn.btn-primary(type='button', style='margin-top: 5px', id='kmlbutton', onClick="kmlerstellenMehrere()", class='btn btn-primary button float-right bestellbutton') KML erstellen
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#ModalProbeBearbeitet' id='updatebutton', class='btn btn-primary button float-right bestellbuttont' style='margin-top: 5px; margin-right: 15px') Proben gezogen

    #ModalProbeBearbeitet.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content.neutral-backgroundcolor
                .modal-header
                    h5#exampleModalLongTitle.modal-title.text-white Probe bearbeitet am:
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body 
                    .input-group.date(data-provide="datepicker")
                        input#datepicker(type="date" class="form-control")
                        .input-group-addon
                            span.glyphicon.glyphicon-th
                .modal-body
                    button.btn.btn-primary(type='button', style='margin-top: 5px', id='kmlbutton', onClick="fleachwurdenBearbeitet(document.getElementById('datepicker').value"+","+dieUserID+")", class='btn btn-primary button float-right bestellbutton') Proben gezogen
        div#loadingIndicator(style='display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); color: white; text-align: center; line-height: 100vh;')
            div.spinner-border(text='loading')         

    script(src="/javascript/cart.js")
    script.

        const today = new Date();
        const todayFormatted = today.toISOString().split('T')[0];

        
        document.getElementById('datepicker').value = todayFormatted;

        function fleachwurdenBearbeitet(dateValue,userID) {
            const selectedProducts = [];
            for (let index = 0; index < includedFlaechen.length; index++) {
                var EminValue = 'n';
                var MangatValue = 'n';
                var StickstoffValue = 'n';
                var CheckboxCnValue = 'n';

                if (includedFlaechen[index].nmin === 1) {
                 MangatValue = 'j';
                } 
        
                if (sminGzogen === 1) {
                EminValue = 'j';
                } 
        
                if (humusGzogen === 1) {
                StickstoffValue = 'j';
                }
        
                if (cnGzogen === 1) {
                CheckboxCnValue = 'j';
                }
            
                    const productInfo = {
                        kundennummer: includedFlaechen[index].kundennummer,
                        productId: includedFlaechen[index].flaechenID,
                        //flaechenname: flaechennameValue,
                        dateValue: dateValue,
                        NminValue: MangatValue,
                        SminValue: EminValue,
                        HumusValue: StickstoffValue,
                        CnValue: CheckboxCnValue
                    };

                    selectedProducts.push(productInfo)
            }


            document.getElementById('loadingIndicator').style.display = 'block';

            fetch('/products/ProbeWurdeGezogen', {
                method: 'PUT',
                credentials: 'include',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productIDs: selectedProducts })
            })
            .then(response => response.status)
            .then(status => handleResponse(status))
            .catch(error => console.error('Error:', error));
        }

        function kundenAnsehen(kundennummer) {
            var link = document.getElementById('kundenNr');
            link.href = '/products/' + kundennummer;
            link.click();  
        }

        var coordinatesArrayAll = !{JSON.stringify(Fleachen)};
        var coordinatesArrayAllZuZiehen = !{JSON.stringify(FleachenZuZiehen)};
    
        



        var coordinatesArray = coordinatesArrayAllZuZiehen.winterung;
        var map = L.map('map').setView([52.849226, 7.913939], 13);

        // OpenStreetMap Layer hinzufügen
        L.tileLayer('https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3'],
            attribution: '© Google'
        }).addTo(map);

        L.Control.geocoder().addTo(map);

        var flaechenID = 0;
        var coordinates = []; 

        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = date.getDate();
            var month = date.getMonth() + 1; // Monate sind von 0 bis 11
            var year = date.getFullYear();

            return (day < 10 ? '0' : '') + day + '.' + (month < 10 ? '0' : '') + month + '.' + year;
        }

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: {
                    shapeOptions: {
                        color: 'red'
                    },
                    allowIntersection: false,
                    drawError: {
                        color: 'orange',
                        timeout: 1000
                    },
                    showArea: true
                },
                polyline: false,
                circle: false,
                marker: false,
                circlemarker: false
            },
            edit: {
                featureGroup: drawnItems,
                remove: true
            }
        });

        var includedFlaechen = [];

        map.addControl(drawControl);

                
        setUpdateMap();

        function initializeModalEventListeners() {
            map.eachLayer(function (layer) {
                if (layer instanceof L.Polygon) {
                    layer.on('click', function (e) {
                        $('#exampleModalCenter').modal('show');
                    });
                }
            });
        }

        initializeModalEventListeners();



        map.on('draw:created', function (e) {
            includedFlaechen = [];
            var layerEingezeichnet = e.layer;
            drawnItems.addLayer(layerEingezeichnet);

            map.eachLayer(function (layer) {
                if (layer instanceof L.Polygon) {
                    if (isInnerPolygonInsideOuterPolygon(layer, layerEingezeichnet)) {                        
                        var fleachenErstellt = { 
                            flaechenID: layer.options.info.probenNr, 
                            kundennummer: layer.options.info.kundenNr, 
                            nmin: layer.options.info.nminGzogen, 
                            smin: layer.options.info.sminGzogen, 
                            humus: layer.options.info.humusGzogen, 
                            cn: layer.options.info.cnGzogen
                        };
                        includedFlaechen.push(fleachenErstellt);
                    }  
                }
            });
            $('#ModalCenter').modal('show');
        });


        function isPointInsidePolygon(point, polygon) {
            var x = point.lng;
            var y = point.lat;

            var inside = false;
            for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {
                var xi = polygon[i].lng, yi = polygon[i].lat;
                var xj = polygon[j].lng, yj = polygon[j].lat;

                var intersect = ((yi > y) !== (yj > y)) &&
                    (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
                if (intersect) inside = !inside;
            }
            return inside;
        }

        function kmlerstellen() {
            var produktid = [document.getElementById('probenNr').textContent ,document.getElementById('kundenNr').textContent];
            
            fetch('/products/generateKmlFile', {
                method: 'PUT',
                credentials: 'include',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productIDs: produktid, nurEinKML: true })
            })

            .then(response => response.text())
            .then(url => {
                var blob = new Blob([url], { type: 'application/vnd.google-earth.kml+xml' });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = "Fleache"+document.getElementById('kundenNr').textContent+"_"+document.getElementById('probenNr').textContent+".kml";
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            .catch(error => console.error('Error:', error));
        }

        function kmlerstellenMehrere() {
            var produktid = []

            for (const id of includedFlaechen) {
                produktid.push([id.flaechenID,id.kundennummer])
            }
            
            fetch('/products/generateKmlFile', {
                method: 'PUT',
                credentials: 'include',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productIDs: produktid, nurEinKML: false })
            })

            .then(response => response.text())
            .then(url => {
                var blob = new Blob([url], { type: 'application/vnd.google-earth.kml+xml' });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = "FleacheMehrere.kml";
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            .catch(error => console.error('Error:', error));
        }

        function handleResponse(status) {
            if (status === 200) {
                location.reload();
            } else if (status === 100) {
                location.reload()
                window.location.href = '/cart'; 
            }  
             else if (status === 404) {
                console.error('ERROR')
            }
        }


