extends layout

block content
  .container-fluid.vertical-center.secondary-backgroundcolor
    .row.align-items-center.gx-5
      .col-md.d-none.d-md-block
        img(style='width: 100%;', src='/images/bodenprobenvh.gif', class='img-fluid')
      .col-md.secondary-color.primary-backgroundcolor.rounded.p-4
        form(action='/login', method='post')
          .form-group
            label(for='exampleInputEmail1') E-Mail
            input#exampleInputEmail1.form-control(type='email' name='email' placeholder='Enter email' value='pauline@thieken')
          .form-group
            label(for='exampleInputPassword1') Passwort
            input#exampleInputPassword1.form-control(type='password' name='password' placeholder='Password' value='s')
          button.btn.btn-primary.button.float-right(type='submit') Anmelden
