/* Custom CSS für das Zentrieren des Inhalts */
body, html {
  height: 100%;
}

:root {
  --primary-color: #58634C;
  --secondary-color: #DADDC8;
  --accent-color: #79B428;
  --neutral-color: #A4A4A4;
}

.kundenInfo label{
  color: white !important;
  font-weight: 300;
}

.tab-item.active{
  background-color: var(--accent-color) !important;
}

label{
  margin-bottom: 0px !important
}


.close   {
  background-color: var(--neutral-color) !important;
}

.close:hover  {
  color: var(--primary-color) !important;
  background-color: #959595 !important;
  font-weight: 800  ;
}


   
.primary-backgroundcolor {background-color: var(--primary-color) !important;}
.secondary-backgroundcolor {background-color: var(--secondary-color) !important;}
.accent-backgroundcolor {background-color: var(--accent-color) !important;}
.neutral-backgroundcolor {background-color: var(--neutral-color) !important;}


.primary-color {color: var(--primary-color) !important;}
.secondary-color {color: var(--secondary-color) !important;}
.accent-color {color: var(--accent-color) !important;}
.neutral-color {color: var(--neutral-color) !important;}

button {
  background-color: var(--accent-color) !important;
  color: white;
  padding: 10px 20px;
  border: none !important;
  cursor: pointer;
}

button:hover{
  background-color: var(--primary-color) !important;
}

input[type="checkbox"] {
  transform: scale(1.8); /* Ändert die Größe der Checkbox auf das 1,5-fache */
}

.titelTR{
  font-weight: 600;
  text-align: center;
}

.titelTR td{
  text-align: center;
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: 1px solid #ddd !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 15px !important;
}

.titelTR td:hover{
  cursor: pointer;
  background-color: var(--neutral-color) !important;
  color: var(--primary-color) !important;

}



.titelTRAbdatum td{
  text-align: center;
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: 1px solid #ddd !important;
  border-radius: 5px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.titelTRAbdatum td:hover{
  cursor: pointer;
  background-color: var(--neutral-color) !important;
  color: var(--primary-color) !important;

}



.full-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vertical-centerCheckbox {
    display: flex;

    align-items: center;
}

.vertical-centerCheckbox label {
    padding: 0px;
    margin-bottom: 2px
}


a.link-dark{
  font-weight: bold !important;
}

a.link-dark:hover{
  color: var(--accent-color) !important;
}

.nav-linkTable {
  color: black; /* Setzen Sie die gewünschte Textfarbe */
  font-weight: bold; /* Fett anzeigen */
  background-color: var(--neutral-color);
  border-radius: 0%;
  border: 1px solid var(--primary-color);
  border-bottom: none !important;
}


.nav-linkTableA{
  color: black; /* Setzen Sie die gewünschte Textfarbe */
  font-weight: bold; /* Fett anzeigen */
  border-bottom: none !important;

  
}




.table-category td{
  padding: 1px !important;
  vertical-align: middle !important;
  text-align: center;
}

.form-check-input {
  background-color: red; /* Hintergrundfarbe ändern */
  border-color: red; /* Rahmenfarbe ändern */
  color: white; /* Textfarbe ändern */
}


.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Stellen Sie sicher, dass es über dem anderen Inhalt liegt */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 235, 235, 0.251); /* Rot mit Alpha-Kanal für Transparenz */
}

.notificationred {
    color: white;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.8); /* Rot mit Alpha-Kanal für Transparenz */
    border-radius: 5px;
}

.notificationred p{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.notificationred {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.notificationred p {
  margin: 0;
}
  
.notificationred button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.notificationred button:hover {
  background-color: #5a6268;
}

.notificationgreen {
  background-color: var(--accent-color); /* Grüne Farbe, passen Sie die Farbe nach Bedarf an */
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationgreen p {
  margin: 0;
}

.notificationgreen button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;

}

.notificationgreen button:hover {
  background-color: #5a6268;
}
  
  